<div class="subheader">
    <div class="subheader-text">
        <h2>Stolen Diamond Discovered in Siberia!</h2>
    </div>
    <div class="button-container">
        <button mat-raised-button color="accent">
            <a class="button-link" routerLink="/login" routerLinkActive="active">LOG OUT</a>
        </button>
    </div>
</div>

<div class="page-contents">
  <div class="main-info">
    <p>
      Professor Bairstone and Dr. Day have made a sensational discovery! They
      have discovered the Monk Diamond in a remote cave in Siberia. Professor
      Bairstone's dog, Ernest, sniffed out the diamond.
    </p>

    <p>
      The jewel was stolen 3 years ago from the House of Volkov. The prime
      suspects in the theft were the Bond Brothers. The team thinks the diamond
      had been hidden by the thieves.
    </p>
    <p>The team sent this photo from their camp:</p>
    <img class="team-image" src="./assets/images/monk_diamond_team.png" />
  </div>

  <div class="diamond-facts">
    <div class="diamond-image-container">
      <img class="diamond-image" src="./assets/images/monk_diamond.png" />
      <p>The Monk Diamond</p>
    </div>
    <div class="fact-file-container">
      <p>Fact File</p>
      <p>Carats: 300</p>
      <p>Color: Jade</p>
      <p>Value: $100 Billion</p>
    </div>
  </div>
</div>
